{{!
This file is part of MuTMS suite of plugins for Moodle™ LMS.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

@copyright   2026 Petr Skoda
@license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template tool_mucatalog/frontpage-all

    This template renders the all items link on frontapge.

    Example context (json):
    {
        "isall": true,
        "name": "All items",
        "shortdescription": "<p>List of all items available in catalogue.</p>\n",
        "url": "https://www.example.com/admin/tool/mucatalog/?sectionid=0",
        "frontpagepriority": 0
    }
}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{{url}}">{{name}}</a></h5>
        <div class="card-text">{{{shortdescription}}}</div>
    </div>
</div>
